.app {
  background-color: #ccdfe0;
  padding: 30px;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #9e61ff;
  color: #1aa140;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0a57b4;
}

.task {
  background-color: #c51f1f;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.task.completed {
  background-color: #56eb43;
}

.task .description {
  font-size: 50px;
  margin-bottom: 5px;
}

.task .status {
  font-size: 14px;
  color: #888;
}